html {
    font-size: 62.5%;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    background: #f0f0f0;
}
header {
    line-height: 5rem;
    background: #29bde0;
    width: 100%;
}
header img {
    vertical-align: middle;
    margin-left: 3%;
}
main h4 {
    writing-mode: vertical-rl;
    display: inline-block;
    text-align: center;
    border-right: 1px solid;
    padding-right: 1rem;
}
.top {
    display: flex;
    height: 20rem;
    margin: 1rem;
    background: #fff;
}
.top div{
    flex: 1;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
li {
    width: 50%;
}
.bottom {
    margin: 1rem;
    background: #fff;
}
.bottom input {
    width: 3rem;
}
input[type=range] {
    -webkit-appearance: none;
    width: 20rem;
    height: 0.2rem;
    margin: 0 1rem;
    outline: none;
    background: orange;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url(img/slider.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 1.5rem;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    background-image: url(img/slider.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 1.5rem;
}
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    background-image: url(img/slider.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 1.5rem;
}
/*input[type=range]::-webkit-slider-runnable-track {*/
/*}*/
/*兼容性没设置*/
button {
    border: 0.1rem solid orange;
    text-align: center;
    line-height: 2rem;
    outline: none;
    background: #fff;
}
button img {
    vertical-align: middle;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.next {
    margin: 1rem;
    height: 10rem;
    background: #fff;
    text-align: center;
}
.next button{
    width: 50%;
    height: 5rem;
    position: relative;
    top: 5rem;
    margin-top: -2.5rem;
    background: orange;
}
